.carousel {
  width: 1344px;
  height: 983px;
}
.carousel .carousel-caption h5 {
  font-size: 43px;
  /* top: 643px;
  left: 159px; */
  width: 592px;
  height: 109px;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  text-align: left;
}

.carousel .carousel-caption p {
  /* top: 776px;
  left: 159px; */
  width: 849px;
  height: 120px;
  font-family: "Noto Sans", sans-serif;
  text-align: left;
  font-size: 16px;
}

.form_container {
  height: 983px;
  width: 576px;
}

label {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: #414141;
  font-weight: bold;
}

.input_control {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: #414141;
  width: 401px;
  height: 56px;
  font-weight: 700;
}

.btn-outline-warning {
  height: 48px;
  border-radius: 24px;
  color: #f88634;
  border: 2px solid #f88634;
}

a {
  color: #2b64b1;
  text-decoration: none;
}
